<div>
  <header style="background-color: black; color: #fff; height: 100px">
    <h1 style="text-align: center; padding: 5px 0px !important">
      My Todo List App
    </h1>
    <nav style="text-align: center">
      <a
        style="cursor: pointer; text-decoration: none; color: #fff"
        href="/home"
        >ホームページ</a
      >
      <span style="margin: 0px 5px !important">|</span>
      <a
        style="cursor: pointer; text-decoration: none; color: #fff"
        href="/register"
        >登録する</a
      >
    </nav>
  </header>

  <router-outlet></router-outlet>
</div>
